main {
  width: auto;
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1vh;
  box-sizing: inherit;
  position: relative;
}

.drawer-container {
  width: 100%;
  height: 100%;
}

.drawer {
  width: 70%;
  height: 100%;
}
.content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  //width: 100%;
  //max-width: 700px;
  margin-bottom: 3rem;
}
