main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}


.content {
  width: 90%;
  display: flex;
  justify-content: center;
  //width: 100%;
  //max-width: 700px;
  margin-bottom: 3rem;
}
